.wy-side-nav-search {
    background-color:#efefef !important;
}

.wy-nav-content {
    background-color: #ffffff;
}

.wy-nav-top {
    background-color: #c2cad1 !important;
}

.wy-nav-side {
    background-color: #c2cad1 !important;
}

a, a:visited {
    color: #006C9E;
}

a:hover {
    color: #6daed0;
}

.caption-text {
    color: #000000;
}

.internal {
    color: #006C9E;
}

.internal:hover {
    color: #6daed0;
}

.wy-menu-vertical li.toctree-l1>a {
    color: #006C9E;
}

.wy-menu-vertical li.toctree-l1>a:hover {
    background-color: #fcfcfc;
}

.label {
    border: none !important;
    background: none !important;
}

.version {
    color: #727e87 !important;
}